body {
  background-color: #f9f9f9 !important;
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif !important;
}
footer{
  margin-top: 50px;
  text-align: center;
}
a {
  text-decoration: none;
}

.ui.button,
.ui.input,
.ui.form input {
  font-family: 'Titillium Web', sans-serif !important;
}

header {
  height: 50px;
  background: #1a2129;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

header h2 {
  color: #fff;
  margin: 0;
  padding: 10px;
  position: absolute;
  left: 10px;
}

.app {
  margin-top: 100px;
}

.login-container {
  margin-top: 100px;
  margin : 100px auto 0 auto;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.ui.card.login-card {
  width: 450px;
  /* text-align: center; */
}

.ui.form input[type='text'],
.ui.form input[type='password'],
.ui.form select {
  margin-top: 10px;
}

.logout {
  float: right;
  position: relative;
  top: 4px;
  right: 15px;
}

/* .actions {
  text-align: right;
} */

.actions button {
  margin-right: 5px;
}

.actions a {
  margin-left: 5px;
  color: rgb(46, 134, 175);
  font-weight: bold;
}

.file-input {
  display: none;
}

.upload-button {
  float: right;
  margin-top: 20px;
}
.text-container{
  margin-bottom: 0px;
}

.tittle{
  margin: 150px auto 40px auto;
  text-align: center;
}
div input {
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  
}
.logo{
  float: center;
  height: 150px;
  width: 150px;
}