:root {
  --primary: #1a2129;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  margin: 10px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.title h1 {
  color: var(--primary);
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* file uplaod button */
.uploadForm {
  margin: 30px auto 10px;
  text-align: center;
}

.upload input {
  height: 0;
  width: 0;
  opacity: 0;
}

.upload {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

.upload:hover {
  background: var(--primary);
  color: white;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar */

.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid */

.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media screen and (max-width: 1000px) {
  .img-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .img-grid {
    grid-template-columns: 1fr;
  }
  /* .album-list {
    display: none !important;
  } */
  .gallery {
    grid-template-columns: 1fr !important;
  }
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 70%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

/* albums */

.list {
  display: flex;
  flex-flow: column;
  /* height: 100%; */

  width: 100%;
  margin: 60px auto 40px auto;
  background-color: white;
  /* border: #1a2129;
  border-style: solid; */
  border-radius: 25px;

  box-shadow: 6px 6px 16px 0 rgba(190, 190, 190, 0.6),
    -6px -6px 16px 0 rgba(255, 255, 255, 0.5);
}

.list-item {
  display: flex;
  border-bottom: solid 1px black;
  height: fit-content;
  transition: all 0.1s ease-in;
}

#delete-btn {
  margin: 5px 10px;
}

#delete-btn {
  margin: 5px;
}

#rename-btn {
  margin: 5px;
}

.album-header {
  border-bottom: solid 1px black;
  height: fit-content;

  padding: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.album-wrapper {
  cursor: pointer;
  height: fit-content;
  width: -webkit-fill-available;

  padding: 15px;
  background-color: #ff8474;
  border-radius: 15px;
  margin: 8px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

#album-name {
  margin: 15px;
  height: 30px;
  background-color: transparent;
  border: none;
  border: #ff8474;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}

.list-item:hover {
  transform: scale(1.03);
}
/* #ffc996
#ff8474
#9f5f80
#583d72 */

/* add album button */

.create-album {
  display: block;
  border: 1px solid var(--primary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  line-height: 30px;
  font-weight: bold;
  background: white;
  font-size: 24px;
  color: var(--primary);
}

.create-album:hover {
  background: var(--primary);
  color: white;
}

/* footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin: 10px;
} */

.social {
  margin: 0 10px;
}

.hidden {
  display: none;
}
